# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/
cover/
.ipynb_checkpoints
profile_default/
ipython_config.py
.pdm.toml
__pypackages__/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
cython_debug/
.idea/
notebooks/
data/
NHLStatsSnatcher/api_functions.py